
.vistaHome{

color: $texto;
height: 100vh;

}

.movieContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: scroll;
    padding-bottom: 1em;
    
}

.content2{
  // min-width: 10em;
  //   max-width: 10em;
    background-size: cover;
    background-color: $rojo2;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;

}
.content2:hover{
  transform: scale(1.2);

}


