
.header {
    height: 6em;
    background-color: $fondo;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imgUser{
    display: flex;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background-color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}