
.header {
    height: 6em;
    background-color: $fondo;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

