
.header {
    height: 6em;
    background-color: $fondo;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    .header::after{
        scroll-behavior: auto;
    background-color: #221f1f69;
    }
}

.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imgUser{
    display: flex;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background-color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sendButton{
    width: 5em;
    height: 2em;
    border-radius: 1em;
    border: transparent;
}

.inputSearch{
    border: transparent;
    width: 15em;
    height: 2em;
    border-radius: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}