@import 'scss/variables.scss';
@import 'containers/Home/Home.scss';
@import 'components/Header/Header.scss';
@import 'components/Boton/Boton.scss';
@import 'containers/Register/Register.scss';
@import 'containers/Profile/Profile.scss';
@import 'components/MoviesComedy/MoviesComedy.scss';
@import 'containers/Login/Login.scss';
@import 'components/Spinner/Spinner.scss';
@import 'containers/MovieInfo/MovieInfo.scss';
@import 'containers/ProfileAdmin/ProfileAdmin.scss';
@import 'containers/SearchInfo/SearchInfo.scss';

body{
  background: rgb(184,29,36);
  background: linear-gradient(114deg, rgba(184,29,36,1) 0%, rgba(34,31,31,1) 100%); 
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
